<nav class="bg-gradient-to-r from-purple-500/10 transform w-full bg-black/20 backdrop-blur-lg border-b border-white/10">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
            <div class="flex items-center gap-2.5">
                <img
                    src="https://storage.googleapis.com/hostinger-horizons-assets-prod/7c9be4d7-e245-4b80-b131-cb1f891725e5/10526ac86c95a8792ceaeaa0212d4b3d.png"
                    alt="kogn.us icon"
                    class="text-3xl h-[1em]"
                />
                <span class="font-['Outfit'] font-bold text-[0.9em]">
                    <span class="text-white">kogn</span>
                    <span class="text-pink-400">.us</span>
                </span>
            </div>

            <div class="hidden lg:flex items-center space-x-1">
                <button routerLink="/" class="px-3 py-2 rounded-lg transition-all text-sm font-medium bg-purple-500/20 text-purple-300 border border-purple-500/30'">
                    Home
                </button>
                <!-- routerLink="/generate-content" -->
                <button class="px-3 py-2 rounded-lg transition-all text-sm font-medium bg-purple-500/20 text-purple-300 border border-purple-500/30'">
                    Gerar conteúdo
                </button>
            </div>
            <div class="hidden lg:flex items-center gap-4">
                <button (click)="showLoginModal()" class="items-center justify-center rounded-md text-sm font-medium ring-offset-background h-10 px-4 py-2 text-gray-300 hover:text-white hover:bg-white/5">Entrar</button>
                <button routerLink="/register" class="items-center justify-center rounded-md text-sm font-medium ring-offset-background bg-primary hover:bg-primary/90 h-10 px-4 py-2 bg-gradient-to-r from-purple-500 to-pink-500 hover:from-purple-600 hover:to-pink-600 text-white">Criar Conta</button>
            </div>
        </div>
    </div>
</nav>

<p-toast key="toastr" [showTransitionOptions]="'250ms'" [showTransformOptions]="'translateX(100%)'" [hideTransitionOptions]="'150ms'" [hideTransformOptions]="'translateX(100%)'" />
<p-dialog maskStyleClass="backdrop-blur-sm" [(visible)]="visibleLoginModal" (onHide)="hideLoginModal()" styleClass="!border-0 !bg-transparent">
    <ng-template #headless>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div
                class="flex flex-col px-8 py-8 gap-8 rounded-2xl"
                style="background: linear-gradient(135deg, #0f172a 0%, #581c87 50%, #1e3a8a 100%);"
            >
                <div class="inline-flex flex-col gap-2">
                    <label for="username" class="text-primary-50 font-semibold">Nome de usuário</label>
                    <input pInputText formControlName="email" 
                        id="username" 
                        class="!bg-white/20 !border-0 !p-3 !text-primary-50 w-80"
                        [invalid]="isInvalid('email')"
                    />
                    @if (isInvalid('email')) {
                        <p-message severity="error" size="small" variant="simple">Nome do usuário é obrigatório.</p-message>
                    }
                </div>
                <div class="inline-flex flex-col gap-2">
                    <label for="password" class="text-primary-50 font-semibold">Senha</label>
                    <input pInputText formControlName="senha"
                        id="password"
                        class="!bg-white/20 !border-0 !p-3 !text-primary-50 w-80"
                        type="password"
                        [invalid]="isInvalid('senha')"
                    />
                    @if (isInvalid('senha')) {
                        <p-message severity="error" size="small" variant="simple">Senha é obrigatório.</p-message>
                    }
                </div>
                <div class="flex items-center gap-4">
                    <p-button
                        label="Cancelar"
                        (click)="hideLoginModal()"
                        [text]="true"
                        styleClass="!p-3 w-full !text-primary-50 !border !border-white/30 hover:!bg-white/10"
                        class="w-full"
                    />
                    <p-button
                        label="Entrar"
                        [disabled]="loginForm.invalid"
                        (click)="login()"
                        [text]="true"
                        styleClass="!p-3 w-full !text-primary-50 !border !border-white/30 hover:!bg-white/10"
                        class="w-full"
                    />
                </div>
            </div>
        </form>
    </ng-template>
</p-dialog>